/* ESTILOS DE FOOTER */

.footer{
    width: 100%;
    background-color: var(--admin-bg);
    border-top: 2px solid var(--neon-violet);
    color: var(--text-muted);
    padding: 30px 0;
    box-shadow: 
    0 0 10px #ff00cc,
    0 0 20px #3333ff,
    0 0 30px #00ff99; 
   border-image: linear-gradient(45deg, #FF00CC, #9D00FF, #00FFFF) 1;
}

.footer__container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 10%;
}

.footer__container a{
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 700;
}

.footer__container a:hover{
    color: var(--text-color);
}

.footer__links-social ul{
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    list-style: none;
}

.footer__links-social a{
    color: var(--text-muted);
}

.footer__links-social .fa-brands{
    font-size: 1.7rem;
}

.footer__links-social a:hover{
    color: var(--text-color);
}

.footer__bottom p{
    padding-bottom: 25px;
    text-align: center;
}