.navbar {
    width: 100%;
    position: relative;
    height: 60px;
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.7) 0%, 
        rgba(0, 0, 0, 0) 100% 
    ); 
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    padding: 2px 4px;
    line-height: 1;
}

.logo > a > img {
    width: 60px; 
    height: 40px;
    margin-right: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
    transition: color 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    min-width: 150px;
    padding: 5px 0;
    list-style: none;
    margin: 0;
    
    background-color: rgba(34, 34, 34, 0.9); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 100; 
}

.dropdown-menu li a {
    color: white; 
    padding: 8px 15px;
    display: block;
    white-space: nowrap; 
    text-shadow: none; 
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-arrow {
    font-size: 8px;
    vertical-align: middle;
    margin-left: 3px;
}

.paramount-btn {
    background-color: #fcb114; 
    color: black;
    border: none;
    padding: 6px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    text-wrap: nowrap;
}

.paramount-btn:hover {
    background-color: #d19316;
}