@import url('reset.css');
@import url('root.css');
@import url('footer.css');
@import url('header.css');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    position: relative;
}

.header-container{
    position: fixed;
    display: block;
    width: 100%;
}

.main{
    flex: 1;
    background-image: url('../img/background-index.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
